# React frontend environment
VITE_API_URL=http://localhost:8000/api
VITE_APP_NAME=StoreF
VITE_DEBUG=true
VITE_PORT=5173

SECRET_KEY=mysecret

# Database (PostgreSQL)
DB_HOST=db
DB_NAME=storefront
DB_USER=user_a
DB_PASSWORD=Str0ngP@ssw0rd3f53ec91
DB_HOST=db
DB_PORT=5432

#pgAdmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

#MINIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=product-images
MINIO_S3_PORT=9000
MINIO_WEB_CONSOLE_PORT=9001

#ASP .NET
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8000
ASPNETCORE_PORT=8000